
@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@


@{
    ViewBag.Title = "login";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ورود</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/bootstrap-rtl/bootstrap-rtl.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="j/jquery.js"></script>

    <style>
        html {
            height: 100;
        }

        .container {
            display: flex;
        }
    </style>
</head>
<body style="background:-webkit-linear-gradient(top,#beeef7,#fff); height:100%;">
    <div class="container" style="background:#fff; width:300px; height:400px; border-radius:15px; margin-top:140px; margin:9em auto;">
        <form method="post" action="_login">
            <p style="font-family:Arial; font-size:30px; margin-left:77px;">بسم الله الرحمن الرحیم</p><br />
            <p style="font-family:Baran; font-size:15px; margin-left:70px;direction:rtl;text-align:center">نوع ورود:</p>
            <p style="margin-left:70px;">
                <select style="width:130px; border-radius:10px; direction:rtl;">
                    <option>مدیر اصلی</option>
                    <option>مدیر گروه</option>
                    <option>استاد</option>
                    <option>دانشجو</option>
                </select>
            </p>
            <p style="font-family:Baran; font-size:15px; margin-left:70px;direction:rtl; text-align:center">نام کاربری:</p>
            <input type="text" name="txt_usernam" value="نام کاربری" style="margin-left:70px; width:130px; border-radius:10px; direction:rtl;" />
            <p style="font-family:Baran; font-size:15px; margin-left:70px;direction:rtl; text-align:center">رمز عبور:</p>
            <input type="password" name="txt_pass" value="رمز عبور" style="margin-left:70px; width:130px; border-radius:10px; direction:rtl;" /><br /><br />
            <input type="submit" style="margin-left:110px; border-radius:10px; width:60px;">ورود</input>
            <button style="margin-left:110px; border-radius:10px;">
               
                @Html.ActionLink("برگشت", "home", "master")
            </button>
           <p style="color:red">@TempData["msg"]</p> 
        </form>








    </div>
















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>